@use '../../../../styles.scss' as *;

.header-content {
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  gap: 4rem;
  padding: 0.25rem 2rem;
  font-size: 0.9rem;
  &.mobile {
    justify-content: space-between;
    padding: 0.25rem 1rem;
  }
  a {
    img {
      transition: all 0.3s ease;
      height: 30px;
      &.mobile {
        height: 25px;
      }
      &:hover {
          filter: brightness(0) invert(1);
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    li {
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: $primary;
      }
    }
  }
  mat-icon {
    font-size: 1.5rem;
  }
}
