<div class="media-page">
  <mb-title-page [title]="'Vídeos'" />

  <div class="media-page__content" [ngClass]="{'mobile': isSmallDevice()}">
    <div class="media-page__content--video" [ngClass]="{'mobile': isSmallDevice()}">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/HemK01CX-UM?si=JrDB6cmleiBVd1yL&amp;start=4" title="Entrevista Miguel Baumann diciembre 2014" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="media-page__content--video" [ngClass]="{'mobile': isSmallDevice()}">
      <iframe width="100%" [height]="isSmallDevice() ? '350px' : '100%'" src="https://www.youtube.com/embed/V8ozJwC5Uqk?si=b4W8W1piLhRUoZyK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
