.media-page {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__content {
    display: flex;
    gap: 3rem;
    &.mobile {
        flex-direction: column;
      }
    &--video {
      width: 50%;
      &.mobile {
        width: 100%;
      }
    }
  }
}
