
@use '@angular/material' as mat;


html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}


$white: #fff;
$black: #2a2a2a;
$primary: #9e625f;
$light-grey: #D9D9D9;
$background-header: #353535;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$size-xs: 600px;
$size-sm: 960px;
$size-md: 1280px;
$size-lg: 1920px;





@media (max-width: $size-md) {
  * {
    font-size: 14px;
  }
}

@media (max-width: $size-sm) {
  * {
    font-size: 13px;
  }
}

@media (max-width: $size-xs) {
  * {
    font-size: 12px;
  }
}



